.confirm-div {
  border: solid black ;
  background-color: #ece7dc;
  width: 40% ;
  height: 63vh ;
  margin: 0 auto;
  border-radius: 25px ;
  padding-top: 10px;
}

#confirm-header {
  letter-spacing: 2px;
}

.monkey-icon{
  display: block ;
  margin: 0 auto;
}

// #monkey-browse {
// margin-left: 100px;
// }

// #monkey-list {
// margin-left: 100px;
// }
