// Specific CSS for your home-page

.main {
  padding-left: 450px;
  padding-top: 45px;
}

#home-image {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  top: 0px;
}

.footer {
  background: #7e7b7b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
     position:absolute;
     bottom:0px;
     left:0px;
     right:0px;
     height: 2.5em ;
     width:100%;
     opacity: .5;
     background-color: #F4F4F4;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.search {
  padding: 23px;
  margin-left: 450px;
  border-radius: 25px;
}

.monkey-logo {
  width: 60px;
}

h1 {
  color: black;
}

// .input-group {
//   position: absolute;
//   display: flex;
// }

#home-search {
  display: inline;
  width: 30%;
}


.btn-primary {
  border-radius: 8px;
  background-color: #8de37d;
  border-color: #8de37d;
  color: #443737;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
    background-color: rgb(204, 255, 181);
    border-color: rgb(204, 255, 181);
  color: #443737;
}


.page-content {
  position: relative ;
  min-height: 100vh ;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */

.name-color {
  color: #40b92b;
  text-shadow: 1px 3px 2px rgb(227, 227, 227);
}
