// Import page-specific CSS files here.
@import "home";
@import "my_monkey";
@import "confirmation";

#index-search {
  display: inline;
  content: center;
  width: 50%;
}

.mb-0 {
  color:gray;
}

h1 {
  color:gray;
}

h2 {
  color: #40b92b;
  text-shadow: 1px 3px 2px rgb(227, 227, 227);
}

h3 {
  color:grey
}

.form-control {
  margin: 25px 0;
}

.justify-content-center {
  margin: 5px;
}

.card-trip {
  border-radius: 10px;
}
