.rentals {
  font-family: Georgia, sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  width: 75%;
  text-align: center;
  margin-top: -30px;
  text-shadow: 1px 1px 1px rgb(56, 56, 56),
  2px 2px 1px rgb(103, 103, 103);
}
