<div class="container, main">
  <h1>Monkey Rental</h1>
  <h3>Welcome to Monkey rentals</h3>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div>
  <a href="http://localhost:3000/monkeys"><button class="search">Monkey Search</button></a>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright container">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
