<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1574256707097-bbf7d49777f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW9ua2V5c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
  <h1>Monkey Rentals brings <strong>the best monkeys</strong> to <strong>the most cool people</strong>!</h1>
    <p>Change your life and rent some of the best monkeys around the world.</p>
    <%= link_to 'Search', monkeys_path, class: 'btn btn-primary btn btn-primary btn-lg'%>
  </div>
</div>

<div class="footer">
  <div class="footer-copyright container">
    © 2021 MEC, Inc.
  </div>
</div>
