<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) %>">
  <%# , url(<%= @monkey.photo.attached? ? cl_image_path(@monkey.photo.key) : asset_path('monkey_background.jpg') )%>
    <h1><%= @monkey.name %></h1>
  </div>
</div>
<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
    <div>
        Add a monkey
    </div>
  </div>
  <div class="row my-2">
